# Node modules
node_modules/

# Build
dist/
build/

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Env files
.env

# Prisma
prisma/migrations/

# IDE
.idea/
.vscode/

# Backend
backend/node_modules/
# NestJS
coverage/
/src/generated/prisma
